.products_detail{
    max-width: 600px;
    width: 100%;
    background-color: rgb(244, 244, 244);
    border: 1px solid rgb(198, 198, 198);
    
}
.description_detail{
    ul li{
        font-size: 15px;
        color: rgb(27, 79, 1);
    }

}